@import './fonts.css';

.landing{
    min-height: 830px;
    background-image: url('./imgs/Asymptote3.png');
    background-color: #88D2E8;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .bg{
    background-color: '#BAE0FF';
} */

.featured{
    padding-top: 14%;
    padding-bottom: 14%;
    color: black;
    font-size: 5.5em;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}

.statements{
    font-size: 1.35em;
    font-family: 'HKGrotesk_light';
    color: black;
}

.stacked{
    height: 250px;
    padding-bottom: 3%;
}