.self_section{
    background-color: #ffffff;
    min-height: 75vh;
    padding-top: 5vh;
    position: relative;
}
.jumbotron_bg{
    background: transparent;
}
.carousel-inner img{
    max-height: 397px;
}
.last_row{
    padding-bottom: 10%;
}
.custom-shape-divider-bottom-1613760855 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1613760855 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1613760855 .shape-fill {
    fill: #88A2E8;
}